# 공통 - OS/에디터 관련
.DS_Store
*.log
*.swp
*.swo
.idea
.gradle
Thumbs.db
ehthumbs.db

# backend - Spring Boot (Gradle 기반)
backend/build/
backend/.gradle/
backend/.idea/
backend/.vscode/
backend/.classpath
backend/.project
backend/.settings/
backend/*.iml
backend/.env

# frontend - Next.js
frontend/.next/
frontend/node_modules/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.vscode/
frontend/.idea/
frontend/.eslintcache
